.side-panel {
	display: flex;
	flex-direction: column;
}

.first-panel,
.second-panel,
.third-panel {
	background-color: #fff;
	padding: 1.5rem;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.tick-svg {
	width: 20px;
	height: 20px;
}

.side-panel h2 {
	font-family: Inter;
	font-size: 21.94px;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
	color: #252525;
	margin-bottom: 1rem;
}

.side-panel ul {
	list-style: none;
	padding: 0;
	margin: 0 0 1rem 0;
	color: #666;
}

.title {
	display: flex;
	align-items: flex-start;
	gap: 11px;
	font-family: Inter;
	font-size: 14.38px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	color: #1a2b49;
}

.subtitle {
	color: #63687a;
	font-family: Inter;
	font-size: 12.8px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	padding-left: 35px;
	margin-bottom: 20px;
}

.subtitle:last-child {
	margin-bottom: 0;
}

.items {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}

.free {
	font-family: Arial;
	font-size: 13.56px;
	font-weight: 700;
	color: #239506;
	text-decoration: underline;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
}

.cancelation-text {
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 22px;
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}

.side-panel ul li {
	margin-bottom: 0.5rem;
	display: flex;
}

.side-panel ul li svg {
	color: #30b37f;
	font-size: 1.2rem;
}

.side-panel h3 {
	font-family: Arial;
	font-size: 21.22px;
	font-weight: 700;
	line-height: 25.47px;
	text-align: left;
	margin: 0 0 28px;
	color: #000000;
}

.side-panel button {
	padding: 0.75rem 1rem;
	background-color: #18546e;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 100%;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 18px;
}

.side-panel button:hover {
	background-color: #18546e;
}

.date-traveler-section label {
	font-size: 0.9rem;
	color: #333;
	display: block;
	margin-bottom: 0.5rem;
}

.label {
	font-family: Arial;
	font-size: 17.88px;
	font-weight: 700;
	line-height: 21.79px;
	text-align: left;
}

.text {
	font-family: Arial;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	text-align: left;
}

.date-traveler-section input {
	width: 90%;
	padding: 0.75rem;
	border: 1px solid #b3b3b3;
	margin-bottom: 1rem;
}

.footer-info {
	padding: 1rem;
	color: #666;
	font-size: 0.9rem;

	@media (max-width: 480px) {
		display: none;
	}
}

.list {
	list-style: disc !important;
	margin: 0;
	padding-left: 15px !important;
}

.list li {
	display: list-item !important;
}
