body {
	margin: 0;
	font-family: "Poppins", "Inter", "Arial", sans-serif;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.activity {
	padding: 2rem 5rem;
}

h1 {
	margin: 0;
}

.main-content {
	display: flex;
	padding: 0 5rem;
}

.left-section {
	margin-right: 1.5rem;
	width: 100%;
}

.desktop-view {
	display: block;
}

.mobile-view {
	display: none;
}

@media (max-width: 480px) {
	.main-content {
		flex-direction: column;
		padding: 0 2rem;
	}

	.desktop-view {
		display: none;
	}

	.mobile-view {
		display: block;
	}

	.activity {
		padding: 2rem;
	}
}

footer {
	background-color: #f0f0f0;
	padding: 1rem;
	text-align: center;
}
